<ion-header class="scriptHeader">
  <ion-title class="scriptHeaderTitle">
    EASY AS 1, 2, 3!
  </ion-title>
</ion-header>


<ion-content class="ion-no-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text class="ion-text-center">
          <p id="topText">
            We only need fifteen minutes from you. Reaching Our Goal takes care of the rest.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <h2 class="stepText">
            Step 1:
          </h2>
        </ion-text>
        <ion-text>
          <h2 class="actionText">
            Pick Your Reward
          </h2>
        </ion-text>
        <ion-text>
          <h2 class="stepText">
            Step 2:
          </h2>
        </ion-text>
        <ion-text>
          <h2 class="actionText">
            Add Your Picture
          </h2>
        </ion-text>
        <ion-text>
          <h2 class="stepText">
            Step 3:
          </h2>
        </ion-text>
        <ion-text>
          <h2 class="actionText">
            Add Your Fans
          </h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <h2 style="color: white">
            text
            more text
          </h2>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="largeButton" routerDirection="forward" id="letsgo" routerLink="/script/pick-your-reward">
    LET'S GO!
  </ion-button>

  <ion-button class="bottomMiddleButton" fill="clear" color="tertiary" (click)="presentModal()">
    HELP
  </ion-button>

</ion-content>