.ios.scriptHeaderTitle {
    font-size: 9vw;
}

.md.scriptHeaderTitle {
    font-size: 9vw;
    margin-left: 10vw;
}

#topText {
    margin-bottom: 6vh;
    font-size: 5vw;
}

.stepText {
    font-size: 7vw;
    color: var(--ion-color-secondary);
    margin-left: 10vw;
    margin-bottom: 2vh;
    margin-top: 0vh;
}

.actionText {
    font-size: 8vw;
    color: var(--ion-color-primary);
    margin-left: 17vw;
    margin-bottom: 3vh;
    margin-top: 1vh;
}


.largeButton {
    bottom: 9vh;
}

.bottomMiddleButton {
    margin-bottom: -1vh;
}