.ios.scriptStackedSubHeaderTitle {
    margin-left: -51vw;
}

.md.scriptStackedHeaderTitle {
    margin-left: 9vw;
}

.shareText {
    font-size: 8vw;
}


.socialCard {
    height: 24vh;
    margin-bottom: 0.25vh;
    margin-top: 1.25vh;
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 0;
}

ion-img {
    height: 11vh;
    width: 11vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    border-radius: 10px !important;
    border-color: var(--ion-color-primary);
}

.bottomLeftButton {
    bottom: 0vh;
}

.bottomMiddleButton {
    bottom: 0vh;
    width: 50vw;
    margin-left: 24vw;
}


.bottomRightButton {
    bottom: 0vh;
}







