<ion-header class="logoHeader">
  <img src="../../assets/white_logo.png" alt="Uh oh! We are unable to load image. Please try again later.">
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid>
    <ion-row>
      <ion-col id="headerColumn">
        <ion-text id="headerText">
          Forgot Password
        </ion-text>
        <ion-text>
          <p style="color: var(--ion-color-tertiary); font-size: 4.75vw;">
            Enter your email and we’ll send a link to reset your password.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-row>
        <ion-col>
          <ion-item class="inputItem">
            <ion-label position="floating"  class="inputLabel">* Email Address</ion-label>
            <ion-input class="inputField" type="email" ngModel name="email" required email #emailCtrl="ngModel">
            </ion-input>
          </ion-item>
          <ion-text *ngIf="!emailCtrl.valid && emailCtrl.touched" color="danger" class="inputWarning">
            Please enter a valid email address.
          </ion-text>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>


  <ion-button (click)="onSubmit()" class="largeButton" [disabled]="!f.valid">
    SUBMIT
  </ion-button>
  <ion-button routerLink="/full/login" class="bottomLeftButton" fill="clear" routerDirection="back">
    BACK
  </ion-button>
  <ion-button class="bottomRightButton" fill="clear" color="tertiary" (click)="presentModal()">
    HELP
  </ion-button>



</ion-content>