// BEGIN IOS STYLE SHEET


.ios .inputItem {
  width: 95vw;
  margin-bottom: 2.5vh;
  margin-top: -0.25vh;
  margin-left: -2.5vw;
  font-size: 5vw;
  --color: var(--ion-color-tertiary);
}

.ios .inputLabel {
  font-size: 5vw;
  margin-bottom: -1vh;
  margin-top: 0.25vh;
}

.ios .inputField {
  --placeholder-color: var(--ion-color-tertiary);
  --placeholder-opacity: 30%;
  --color: var(--ion-color-secondary);
  margin-top: 0vh;
}


// END IOS STYLE SHEET


// BEGIN MD STYLE SHEET

.md .inputItem {
  width: 100vw;
  margin-bottom: 1.5vh;
  margin-top: -0.25vh;
  margin-left: -3vw;
  font-size: 5vw;
  --color: var(--ion-color-tertiary);
}


.md .inputLabel {
  font-size: 5vw;
  margin-bottom: 0.75vh;
  margin-top: 0.25vh;
}

.md .inputField {
  margin-top: 0.25vh;
  --placeholder-color: var(--ion-color-tertiary);
  --placeholder-opacity: 30%;
  --color: var(--ion-color-secondary);
}


// END MD STYLE SHEET


// BEGIN GENERAL STYLE SHEET
ion-header::after {
  background-image: none;
}

#headerText {
  font-size: 4.4vh;
}

#headerColumn {
  text-align: center;
}


.inputWarning {
  margin-left: 2.5vw;
  font-size: 4.75vw;
}

.largeButton {

  bottom: 35vh;
}

.bottomLeftButton {
  color: var(--ion-color-danger);
  bottom: 0.5vh;

}

.bottomRightButton {
  color: var(--ion-color-tertiary);
  bottom: 0.5vh;
}

// END GENERAL STYLE SHEET








