// BEGIN IOS STYLE SHEET


.ios .inputItem {
    width: 95vw;
    margin-bottom: 2.5vh;
    margin-top: -0.25vh;
    margin-left: -2.5vw;
    font-size: 5vw;
    --color: var(--ion-color-tertiary);
}

.ios .inputLabel {
    font-size: 5vw;
    margin-bottom: -1vh;
    margin-top: 0.25vh;
}

.ios .inputField {
    --placeholder-color: var(--ion-color-tertiary);
    --placeholder-opacity: 30%;
    --color: var(--ion-color-secondary);
    margin-top: 0vh;
}

.ios .warningHolder {
    margin-left: -5vw;
    margin-right: 1vw;
    padding: 0;
    --background: transparent;
}


// END IOS STYLE SHEET


// BEGIN MD STYLE SHEET

.md .inputItem {
    width: 100vw;
    margin-bottom: 1.5vh;
    margin-top: -0.25vh;
    margin-left: -3vw;
    font-size: 5vw;
    --color: var(--ion-color-tertiary);
}


.md .inputLabel {
    font-size: 5vw;
    margin-bottom: 0.75vh;
    margin-top: 0.25vh;
}

.md .inputField {
    margin-top: 0.25vh;
    --placeholder-color: var(--ion-color-tertiary);
    --placeholder-opacity: 30%;
    --color: var(--ion-color-secondary);
}




// END MD STYLE SHEET


// BEGIN GENERAL STYLE SHEET
ion-header::after {
    background-image: none;
}

#headerText {
    font-size: 4.4vh;
}

#headerColumn {
    text-align: center;
}


.inputWarningRegular {
    margin-left: 2.5vw;
    font-size: 4.75vw;
    color: var(--ion-color-tertiary);
}

.inputWarningDanger {
    margin-left: 2.5vw;
    font-size: 4.75vw;
    color: var(--ion-color-danger);
}

.largeButton {
    bottom: 35vh;
}

.bottomLeftButton {
    color: var(--ion-color-danger);
    bottom: 0.5vh;

}

.bottomRightButton {
    color: var(--ion-color-tertiary);
    bottom: 0.5vh;
}

// END GENERAL STYLE SHEET











// ion-header::after {
//     background-image: none;
// }

// #headerText {
//     font-size: 4.4vh;
// }

// #headerColumn {
//     text-align: center;
// }

// .md .inputItem {
//     width: 100vw;
//     margin-left: -3vw;
//     margin-bottom: 3vh;
// }

// .ios .inputItem {
//     width: 95vw;
//     margin-left: -3vw;
//     margin-bottom: 3vh;
// }

// .inputLabel {
//     color: var(--ion-color-tertiary);
//     font-size: 3vh;
// }

// .inputField {
//     --color: var(--ion-color-primary);
// }

// .inputWarning {
//     font-size: 2.5vh;
// }

// .inputWarningItem {
//     margin-left: -3vw;
// }

// .largeButton {
//     font-size: 3.5vh;
//     bottom: 42vh;
// }