<ion-header class="logoHeader">
  <img src="../../assets/white_logo.png" alt="Uh oh! We are unable to load image. Please try again later.">
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid>
    <ion-row>
      <ion-col id="headerColumn">
        <ion-text id="headerText">
          Reset Password
        </ion-text>
      </ion-col>
    </ion-row>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <ion-row>
        <ion-col>
          <ion-item class="inputItem">
            <ion-label position="floating" class="inputLabel">New Password</ion-label>
            <ion-input class="inputField" type="password" name="password" formControlName="password">
            </ion-input>
          </ion-item>
          <!-- <ion-item lines="none" class="inputWarningItem"> -->
          <ion-item lines='none' class='warningHolder'>
            <ion-text [ngClass]="{
            'inputWarningRegular': form.get('password').untouched || form.get('password').valid || form.valid,
            'inputWarningDanger': form.get('password').dirty && form.get('password').invalid
            }">
              Password must be 6 or more characters, including at least one capital letter and one number.
            </ion-text>
          </ion-item>

        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <ion-button (click)="onSubmit()" class="largeButton" [disabled]="!form.valid">
    RESET PASSWORD
  </ion-button>
  <ion-button routerLink="/login" class="bottomLeftButton" fill="clear" routerDirection="back" color="danger">
    BACK
  </ion-button>
  <ion-button class="bottomRightButton" fill="clear" color="tertiary" (click)="presentModal()">
    HELP
  </ion-button>

</ion-content>