.header-md {
    height: 8vh;
    margin-top: 0vh;
    margin-bottom: 1vh;
}

.header-ios {
    height: 8vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
}

#title {
    font-size: 6vw;
}

.button1 {
    height: 16.5vh;
    padding: 0;
    width: 96vw;
    margin-bottom: 2vh; 
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;  
}


.button2 {
    height: 8.5vh;
    padding: 0;
    width: 96vw;
    margin-bottom: 2vh;
    margin-top: 0;
    margin-left: 2vw;
    margin-right: 2vw;
}

.button3 {
    height: 29vh;
    padding: 0;
    width: 96vw;
    margin-bottom: 2vh;
    margin-top: 0;
    margin-left: 2vw;
    margin-right: 2vw;
}