#header {
    margin: 0;
    padding: 0;
    margin-bottom: -5vh;
}

.ios #sectionTitle {
    font-size: 7vw;
    text-align: center;
    margin-top: 1.5vh;
    color: var(--ion-color-primary);
}

#x {
    font-size: 6vw;
    margin-top: 2.25vh;
}


.md #sectionTitle {
    font-size: 6.5vw;
    width: 200vw;
    margin-left: 29vw;
    margin-top: 2vh;
    color: var(--ion-color-primary);
}


#noFans {
    color: var(--ion-color-tertiary);
}

#noFansHolder {
    margin-top: 8vh;

    font-size: 6vw;
    text-align: center;
}

#list {
    margin-bottom: -10vh;
}


.editButton {
    color: var(--ion-color-secondary);
    font-size: 7vw;
    margin-right: 0vw;
}

.deleteButton {
    color: var(--ion-color-danger);
    font-size: 7vw;
    margin-right: 0vw;
}

.firstInputLabel {
    margin-top: -50vh;
}

.inputItem {
    margin-bottom: -2vh;
    margin-top: 0vh;
}

.inputLabel {
    color: var(--ion-color-tertiary);
    margin-top: 1vh;
    margin-bottom: 0vh;
}

.inputField {
    margin-top: -8vh;
    margin-bottom: -5vh;
}

.bottomMiddleButton {
    position: relative;
}

.bottomMiddleButtonFixed {
    position: fixed;
    bottom: 1.25vh;
    width: 20vw;
    margin-left: 40vw;
    margin-right: 40vw;
    font-size: 5.5vw;
}